<ion-view title="Perkiraan Realtime">
  <ion-content has-header="true" padding="true">
      <div class="list">
          <label class="item item-input">
              <span class="input-label">Gerbang Masuk</span>
              <input type="text" readonly="readonly" value="GT-TAMBUN - Tambun, Mustika Jaya"/>
          </label>
          <label class="item item-input">
              <span class="input-label">Gerbang Keluar</span>
              <input type="text" readonly="readonly" value="GT-M TOHA - Mohammad Toha, Banjaran"/>
          </label>
          <label class="item item-input">
              <span class="input-label">Kendaraan:</span>
              Daihatsu Xenia (2011) · GOL1 · Pertamax 12 km/L · 54 km/jam
          </label>
          <div class="item">
            <button class="button button-calm"><i class="icon ion-gear-a"></i> Prediksi Realtime</button>
          </div>
      </div>
      
      <div style="width: 100%; height: 24em; margin-bottom: 1em" id="maprealtime">
      </div>
      
      <div class="list">
          <div class="item">
              <div class="row">
                  <div class="col">04.00 - 06.29</div>
                  <div class="col col-20" title="Kecepatan"><i class="icon ion-play"></i> 60 km/jam</div>
                  <div class="col col-30" title="Lama Perjalanan"><i class="icon ion-clock"></i> 2 jam 29 menit</div>
              </div>
          </div>
          <div class="item">
              <div class="row">
                  <div class="col">05.00 - 07.20</div>
                  <div class="col col-20" title="Kecepatan"><i class="icon ion-play"></i> 62 km/jam</div>
                  <div class="col col-30" title="Lama Perjalanan"><i class="icon ion-clock"></i> 2 jam 20 menit</div>
              </div>
          </div>
          <div class="item">
              <div class="row">
                  <div class="col">06.00 - 08.40</div>
                  <div class="col col-20" title="Kecepatan"><i class="icon ion-play"></i> 59 km/jam</div>
                  <div class="col col-30" title="Lama Perjalanan"><i class="icon ion-clock"></i> 2 jam 40 menit</div>
              </div>
          </div>
          <div class="item">
              <div class="row">
                  <div class="col">07.00 - 09.50</div>
                  <div class="col col-20" title="Kecepatan"><i class="icon ion-play"></i> 57 km/jam</div>
                  <div class="col col-30" title="Lama Perjalanan"><i class="icon ion-clock"></i> 2 jam 50 menit</div>
              </div>
          </div>
          <div class="item">
              <div class="row">
                  <div class="col">08.00 - 11.05</div>
                  <div class="col col-20" title="Kecepatan"><i class="icon ion-play"></i> 52 km/jam</div>
                  <div class="col col-30" title="Lama Perjalanan"><i class="icon ion-clock"></i> 3 jam 5 menit</div>
              </div>
          </div>
      </div>
      
  </ion-content>
</ion-view>
