<ion-view title="Rute Transportasi Publik">
  <ion-content class="padding">
      <div class="list">
          <label class="item item-input item-select item-stacked-label">
              <div class="input-label">Dari:</div>
              <select ng-model="form.gateIn" ng-options="station.name for station in stations" required="required">
              </select>
          </label>
          <label class="item item-input item-select item-stacked-label">
              <div class="input-label">Tujuan:</div>
              <select ng-model="form.gateOut" ng-options="station.name for station in stations" required="required">
              </select>
          </label>
          <div class="item">
            <button class="button button-positive" ng-click="calcRoute()"><i class="icon ion-refresh"></i> Cari Rute</button>
          </div>
      </div>

      <div style="width: 100%; height: 24em; margin-bottom: 1em" id="mappubtrans">
      </div>

      <div ng-show="distanceKm">
          <h2>Rute &amp; Tarif</h2>
          <div class="list">
              <div class="item item-calm" ng-show="distanceKm">
                  <div class="row responsive-sm">
                      <div class="col" title="Jarak"><i class="icon ion-ios7-paperplane"></i> <strong>{{distanceKm | number:1}}</strong> km</div>
                      <div class="col col-50" title="Lama Perjalanan"><i class="icon ion-clock"></i> <strong><span ng-show="durationHours > 0">{{durationHours}} jam</span><span ng-show="durationMins > 0"> {{durationMins}} menit</span></strong></div>
                      <div class="col" title="Total Biaya" ng-show="cost"><i class="icon ion-pricetag"></i> Rp{{cost.total|number:0}}</div>
                  </div>
              </div>
              <!--th>Masuk</th><th>Keluar</th><th>Tarif</th><th>via</th><th>Jarak</th><th>Waktu</th><th>BBM</th-->

              <div class="item" ng-repeat="step in steps">
                  <div ng-show="step.kind == 'in'"><span class="calm">Naik di</span> <strong>{{step.station.name}}</strong></div>
                  <div ng-show="step.kind == 'pass'"><span style="color: #999">Lewat</span> {{step.station.name}}</div>
                  <div ng-show="step.kind == 'out'"><span class="energized">Turun di</span> <strong>{{step.station.name}}</strong></div>
              </div>

              <div class="item" ng-repeat="segment in cost.segments">
                  <div><strong>{{segment.origin.gerbang_tol_name}}</strong> → <strong>{{segment.dest.gerbang_tol_name}}</strong></div>
                  <div class="row responsive-sm">
                      <div class="col" title="Jarak di Ruas"><i class="icon ion-ios7-paperplane"></i> {{segment.distanceKm | number:1}} km</div>
                      <div class="col" title="Lama di Ruas"><i class="icon ion-clock"></i> <span ng-show="segment.durationHours > 0">{{segment.durationHours}}j</span><span ng-show="segment.durationMins > 0"> {{segment.durationMins}}m</span></div>
                      <div class="col" title="Tarif Tol"><i class="icon ion-pricetag"></i> Rp{{segment.fare|number:0}}</div>
                      <div class="col-40">
                          <i class="icon ion-model-s" title="BBM"></i> {{segment.fuelConsumption | number:1}} L</strong> = Rp{{segment.fuelPrice | number:0}}
                      </div>
                  </div>
                  <p style="white-space: normal">
                      <small ng-repeat="via in segment.vias">KM&nbsp;{{via.km}}&nbsp;{{via.gerbang_tol_name}} <span ng-show="!$last">» </span></small>
                  </p>
              </div>
          </div>
      </div>

  </ion-content>
</ion-view>
