<ion-view title="Pengaturan">
  <ion-content class="padding">
      <div class="list">
          <label class="item item-input item-select">
              <span class="input-label">Kendaraan</span>
              <select ng-model="vehicle"
                      ng-options="v.brand + ' ' + v.model + ' (' + v.year + ')' group by v.brand for v in vehicles" ng-change="vehicleChanged(vehicle)"></select>
          </label>
          <label class="item item-input">
              <span class="input-label">Golongan</span>
              <input type="text" ng-model="vehicle.vehicleType" readonly="readonly"/>
          </label>
          <label class="item item-input">
              <span class="input-label">BBM (km/L)</span>
              <input type="text" ng-model="vehicle.fuel" readonly="readonly"/>
              <input type="number" ng-model="vehicle.fuelEfficiency" readonly="readonly"/>
          </label>
          <label class="item item-input">
              <span class="input-label">Kecepatan (km/jam)</span>
              <input type="number" ng-model="vehicle.avgSpeed" readonly="readonly"/>
          </label>
      </div>
  </ion-content>
</ion-view>
