<ion-view title="LewatTol">
  <ion-content class="padding">
      <div class="list">
          <label class="item item-input item-select item-stacked-label">
              <div class="input-label">Gerbang Masuk:</div>
              <select ng-model="gateIn" ng-options="tollRoute.gerbang_tol_name + ' - ' + tollRoute.nearest_area group by tollRoute.ruas_tol_id for tollRoute in tollRoutes" required="required">
              </select>
          </label>
          <label class="item item-input item-select item-stacked-label">
              <div class="input-label">Gerbang Keluar:</div>
              <select ng-model="gateOut" ng-options="tollRoute.gerbang_tol_name + ' - ' + tollRoute.nearest_area group by tollRoute.ruas_tol_id for tollRoute in tollRoutes" required="required">
              </select>
          </label>
          <label class="item item-input">
              <span class="input-label">Kendaraan:</span>
              {{vehicle.brand}} {{vehicle.model}} ({{vehicle.year}}) &middot; {{vehicle.vehicleType}}
              &middot; {{vehicle.fuelEfficiency}} km/L
              &middot; {{vehicle.avgSpeed}} km/jam
          </label>
          <div class="item">
            <button class="button button-positive" ng-click="calcRoute()">Cek</button>
          </div>
          <div class="item">
          {{gateIn.gerbang_tol_name}} {{gateIn.lat}} {{gateIn.long}} -- 
          {{gateOut.gerbang_tol_name}} {{gateOut.lat}} {{gateOut.long}}
          </div>
          <div class="item" ng-show="distanceKm">
              Jarak: {{distanceKm | number:0}} km &middot;
              BBM: {{fuelConsumption | number:1}} liter
              &middot; Waktu: {{durationHours}} jam<span ng-show="durationMins > 0"> {{durationMins}} menit</span>
          </div>
      </div>
      <div style="width: 100%; height: 200px" id="map">
      </div>
  </ion-content>
</ion-view>
