<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">


  <!-- Dashboard Tab -->
  <ion-tab title="Rute" icon="icon ion-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Rest Area" icon="icon ion-happy" href="#/tab/restareas">
    <ion-nav-view name="tab-restareas"></ion-nav-view>
  </ion-tab>

  <ion-tab title="BPJS" icon="icon ion-help-buoy" href="#/tab/bpjs">
    <ion-nav-view name="tab-bpjs"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Pengaturan" icon="icon ion-gear-b" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
